<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Create a div where the graph will take place -->
<div style="text-align:center">
    <img style="width:auto 75%; height: 400px; " src="https://www.quotemaster.org/images/d0/d0512142e950392f114397652fea528c.jpg" />
    <h4>
        We've all been there. The next friends' meet up is just around the corner and this time the meal is on you.
        You have been looking everywhere for an inspiring recipe, an unexceptional cook your friends would talk about for a while to come.
        Don't worry! We got you covered. On Gosh you can find plenty of recipes, all flavours from all over the culinary world.
    </h4>
    <br />
    <h3 style="font-weight:bolder;">
        Oh my G O S H 🥑!!! That recipe is SO GOOD!
    </h3>
</div>

<style>
    img {
        margin-top:5%;
    }
    h4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
</style>
