
@{
    ViewBag.Title = "Inspirations";
}


<h3>Look at what others cook just so you will get new ideas...</h3>
<table class="p-3 ">
    <div id="updates" class="col-md-12 container" >

    </div>
</table>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

        
                    $.ajax({
                        url: '/api/updates',
                        data: {
                            format: 'json'
                        },
                        error: function () {
                            $('#updates').html('<p>No results found</p>');
                        },

                        success: function (text) {
                            data = JSON.parse(text);

                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                let date = item.Date * 1000, creatorName = item.CreatorName,
                                    creatorImage = item.CreatorImageUrl, type = item.Type,
                                    updateText = item.UpdateText,
                                    updateUrl = item.UpdateUrl,
                                    UpdateImage = item.UpdateImage,
                                    videoLink = item.VideoUrl;
                                console.log("data is " + type);
                                console.log("vide url:" + videoLink);
                                console.log("is vide:" + !!videoLink);
                    $("<div>", {
                        class: "row col-sm h-25 d-inline-block",
                        style:"margin-top:50px; margin-bottom:50px"
                    }).append(
                        $("<a>", {
                            href: updateUrl,
                            style:"color:white"
                        }).append(
                        $("<div>", {
                            
                        }).append(
                            $('<tr>').append(
                                $('<img />', { src: creatorImage, style:"padding-right:10px; padding-bottom:10px;"}),
                                $('<label>').text(creatorName),
                                $('<text>').text('/' + (new Date(date)).toLocaleTimeString()),
                                $('<br/>')),

                            $('<tr>').append(
                                $('<text>').text('/' + (updateText))))),
                        
                     $('<tr>').append((type == "Text")
                          ? ""
                         : $("<div>", { style: "width: 150px; height: auto"}).append((!!videoLink)
                                    ? $("<video >", {
                                        controls: "controls"
                                    }).append($("<source>", { src: videoLink }))
                                    : $("<img />", {
                                        src: UpdateImage
                                    })))
                    ).appendTo("#updates");
                }

            },
            type: 'GET'
        });
    </script>
