
@{
    ViewBag.Title = "Inspirations";
    //RenderSection("Scripts", false);
}


<h2>Inspirations</h2>
<h3>Look at what others how others cook just so you will get new ideas...</h3>
<table class="w-75 p-3">
    <div id="updates" class="col-md-12" >

    </div>
</table>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: '/api/updates',
            data: {
                format: 'json'
            },
            error: function () {
                $('#updates').html('<p>No results found</p>');
            },

            success: function (text) {

                data = JSON.parse(text);

                console.log("data is " + data);

                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var date = item.Date * 1000, creatorName = item.CreatorName,
                        creatorImage = item.CreatorImageUrl, type = item.Type,
                        updateText = item.UpdateText,
                        updateUrl = item.UpdateUrl,
                        UpdateImage = item.UpdateImage;



                    $("<a>", { href: updateUrl }).append(
                        $("<div>", { class:'col-md-6 h-25 d-inline-block'}).append(
                            $('<tr>').append(
                                $('<img />', { src: creatorImage}),
                                $('<label>').text(creatorName),
                                $('<text>').text('/' + (new Date(date)).toLocaleTimeString())),
                            $('<tr>').append(
                                $('<text>').text('/' + (updateText))),
                            $('<tr>').append(
                                $("<img />", {
                                    src: UpdateImage,
                                    class:'col-md-12'


                                })),
                            $('<br/>'))
                    ).appendTo("#updates");



                }


            },
            type: 'GET'
        });
    </script>
