body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.category-item {
    /* display: flex;
    box-sizing: border-box;
    margin: 0 10px 30px 10px;*/
    background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    margin-top: 2vh;
    padding-bottom: 1vh;
}

.nav-style {
    background: url('Images/nav-image.png');
    background-image: url("Images/nav-image.png");
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand a {
    color: white;
}



.navbar {
    height: 100px;
    border: 100px;
    color: white;
}

.container {
    margin-top: 40px;
    color: white;
    background-color: slategrey;
    border-radius: 1em;
    opacity: 0.9;
}

.row{
    margin-top: 40px;
        margin-left: 50px;
/*        display:inline;
*/}

h2 {
    padding-left: 50px;
    text-shadow: 1px 1px 3px #4B7F4B;
    color: #4B7F4B;
}

label {
    color: #4B7F4B;
}

dl {
    color: black;
}


.leftPad {
    margin-top: 5px;
    margin-left: 100px;
}

.containerD {
    column-count: 3;
    column-gap: 50px;
    margin-right: 250px;
}
.containerD2 {
    column-count: 2;
    column-gap: 50px;
    margin-right: 250px;
}

.centerText {
    text-align: center;
    line-height: 1.6;
}



.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="datetime"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="search"],
.form-group input[type="password"],
.form-group input[type="time"],
.form-group input[type="url"],
.form-group textarea {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
.razor {
    margin-left:auto;
    margin-right:auto;
}

