<!DOCTYPE html>
<meta charset="utf-8">

<head>
    
</head>

<body>
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script>
        d3.json("/Graph/GetAllCategories", function (data) {
            var canvas = d3.select(".dataContainer").append("svg")
                .attr("width", 1000)
                .attr("height", 700);

            canvas.selectAll("rect")
                .data(data)
                .enter()
                .append("rect")
                .attr("width", function (d)
                {

                })
        })
    </script>

</body>
@*/Graph/GetAllCategories*@