<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <style>
        .dataContainer {
            border : solid;
            border-color : black;
        }
        .bubbles {
            stroke-width: 2px;
            stroke: white;
        }

        .bubbles:hover {
            stroke: black;
    </style>
    
</head>

<body>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>

    <div class="dataContainer"></div>
    <div class="byYears"></div>
    <script>

        d3.json("/Graph/GetAllCategories", function (data) {
            var canvas = d3.select(".dataContainer").append("svg")
                .attr("width", 1000)
                .attr("height", 700);

            canvas.selectAll("rect")
                .data(data)
                .enter()
                .append("rect")
                .attr("width", function (d) {
                    return d.NumOfRecipes * 60;
                })
                .attr("height", 50)
                .attr("y", function (d, i) {
                    return i * 80
                })
                .attr("fill", "lightblue");

            canvas.selectAll("text")
                .data(data)
                .enter()
                .append("text")
                .attr("fill", "black")
                .attr("y", function (d, i) {
                    return i * 80 + 30
                })
                .attr("x", 5)
                .text(function (d) {
                    return d.CategoryName + " with " + d.NumOfRecipes + " number of recipes";
                })

        })

        var colors = d3.scaleOrdinal(d3.schemeCategory20);

       var svg = d3.select(".byYears").append("svg")
            .attr("width", 1000)
            .attr("height", 700)
            .style("background", "pink");

        d3.json("/Graph/GetRecipesByYears", function (details) {
            var detailsArray = [];
            details.forEach(detail => detailsArray.push({ year: detail.year, recipes: detail.recipes }));
            console.log(detailsArray);
            var data = d3.pie().sort(null).value(function (d) { return d.recipes; })
                (detailsArray);
            console.log(data);

            var segments = d3.arc()
                .innerRadius(0)
                .outerRadius(200)
                .padAngle(.05)
                .padRadius(50);

            var sections = svg.append("g").attr("transform", "translate(250, 250)")
                .selectAll("path").data(data);

            sections.enter().append("path").attr("d", segments).attr("fill",
                function (d) {
                    return colors(d.data.year);
                });

            var content = d3.select("g").selectAll("text").data(data);
            content.enter().append("text").each(function (d) {
                var center = segments.centroid(d);
                d3.select(this).attr("x", center[0]).attr("y", center[1])
            })

        })
    </script>

</body>
