<!DOCTYPE html>
<meta charset="utf-8">

<head>
    
</head>

<body>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <div class="dataContainer"></div>

    <script>
        d3.json("/Graph/GetAllCategories", function (data) {
            var canvas = d3.select(".dataContainer").append("svg")
                .attr("width", 1000)
                .attr("height", 700);

            canvas.selectAll("rect")
                .data(data)
                .enter()
                .append("rect")
                .attr("width", function (d) {
                    return d.NumOfRecipes * 60;
                })
                .attr("height", 50)
                .attr("y", function (d, i) {
                    return i * 80
                })
                .attr("fill", "lightblue");

            canvas.selectAll("text")
                .data(data)
                .enter()
                .append("text")
                .attr("fill", "black")
                .attr("y", function (d, i) {
                    return i * 80 + 25
                })
                .attr("x", 5)
                .text(function (d) {
                    return d.CategoryName + " with " + d.NumOfRecipes + " number of recipes";
                })
            
        })
    </script>

</body>
@*/Graph/GetAllCategories*@