
@{
    ViewBag.Title = "Forbidden";
}

    <div class="item">
        <img src="http://www.bobfamily.top/web_images/forbidden.png" alt="Forbidden" />
        <span class="caption">Forbidden</span>
        <span class="caption">You are not allow to access this page !</span>
    </div>

<style>
    div.item {
        vertical-align: top;
        display: inline-block;
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 20%;
    }

    .caption {
        display: block;
        font-size: 500%
    }
</style>
