
@{
    ViewBag.Title = "Forbidden";
}

<link href="~/Content/category.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div class="row">
    <br />

    <h2 class="row">Forbidden</h2>
    <h4>seems you done have permmision to enter this page :/</h4>
</div>